

td {
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}

.pager {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}

.pagerLine {
	text-decoration: underline;
}

.pagertext {
	color: orange;
}

a.pagertext:link, a.pagertext:visited, a.pagertext:active {
	text-decoration: none;
}

a.pagertext:hover {
	color: red;
	text-decoration: underline;
}

.pagerCurrentP {
	color: orange;
}

a.pager:link, a.pager:visited, a.pager:active {
	text-decoration: none;
}

a.pager:hover {
	color: orange;
	text-decoration: underline;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	line-height: 20px;
}

hr {
	border-style: dashed;
	height: 1;
}

input.login {
	border: 1px solid Black;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.input3 {
	margin-left: 880px;
	height:40px;
	text-align;center;
	background-color: #ff6868;
    width: 140px;
	border-radius:35px; 
    border-bottom: none; 
	cursor: pointer; 
	font-size: 16px;color: 
	#fff;margin-bottom:30px; 
	text-align: left;
	font-weight: bold;
	color: black; 
	text-decoration: none;
}

